<div class="page-footer">
  <p>Made with love by <a href="http://bernsteinbear.com">Maxwell Bernstein</a> and <a href="http://chinstorff.com">Christopher Hinstorff</a>. Licensing information coming soon.</p>
  <p>On the go? Use our handy <a href="http://paly.io/extension">Chrome extension</a>!</pp>
  <p>Powered by <a href="http://palyvoice.com">The Paly Voice</a>.</p>
</div>
