<%= erb :header, :layout => false %>

<body>
  <div id="wrapper">
    <div class="container full">
      <div class="page-header">
        <h1>paly.io</h1>
        <p class="lead">Paly's URL shortener</p>
      </div>

      <div class="row">
	<div class="message-box-wrapper global">
	  <div class="message-box global"></div>
	</div>
      </div>

      <form id="urlform" action="/shorten" method="POST">
	<div class="row">
          <div class="col-md-10">
            <h3>Paste your long URL here:</h3>	    
	    <div class="text-box-wrapper">
	      <input type="text" id="url" name="url" />
	    </div>

            <h4>Custom URL: (optional)</h4>
	    <div class="text-box-wrapper">
	      http://paly.io/
	      <input type="text" id="customurl" name="custom" />

	      <div class="message-box-wrapper valid">
		<div class="message-box valid"></div>
	      </div>
	    </div>
	  </div>

          <div class="col-md-2">
            <input type="submit" id="submit" value="Submit" class="btn btn-primary btn-lg" />
          </div>
	</div> <!-- /row -->
      </form>

      <%= erb :footer, :layout => false %>
