<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>paly.io</title>

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>

  <body>
    <div id="wrapper">
      <div class="container" id="full">
	<div class="page-header">
          <h1>paly.io</h1>
          <p class="lead">Paly's URL shortener</p>
	</div>

	<div class="row">
          <form id="urlform" action="/shorten" method="POST">
            <div class="col-md-10">
              <h3>Paste your long URL here:</h3>	    
	      <div class="text-box-wrapper">
		<input type="text" id="url" name="url" />
	      </div>
              <h4>Custom URL: (optional)</h4>
	      <div class="text-box-wrapper">
		http://paly.io/
		<input type="text" id="customurl" name="customurl" />
	      </div>
            </div>

            <div class="col-md-2">
              <input type="submit" id="submit" class="btn btn-primary btn-lg" />
            </div>
          </form>
	</div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
