#urlform #url {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 5px;
}

#urlform #submit {
    width: 100%;
    height: 40px;
}

.clear {
    clear: both;
}